.swiper-pagination-bullet-active {
  background-color: #818cf8 !important;
}
.swiper-button-prev {
  color: #818cf8 !important;
}
.swiper-button-next {
  color: #818cf8 !important;
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}
.swiper-pagination-bullet {
  border: 1px solid white !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: none !important;
}

.my-hidden {
  opacity: 0;
  filter: blur(1px);
  transition: all 1.2s;
  overflow: hidden;
}

.my-left {
  transform: translateX(-100px);
}

.my-right {
  transform: translateY(-100px);
}
.my-show {
  filter: blur(0);
  opacity: 1;
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .my-hidden {
    transition: none;
  }
}

@keyframes zoom {
  from {
    transform: scale(0.5);
    filter: blur(1px);
  }
  to {
    transform: scale(1);
    filter: blur(0px);
  }
}
