html {
  scroll-behavior: smooth;
}
.gradient {
  background: radial-gradient(
    circle at -0.2% 48.9%,
    rgb(32, 233, 104) 0%,
    rgb(13, 167, 236) 99.8%
  );
}

.my-query-selector {
  height: auto;
  width: full;
}

.my-hidden {
  opacity: 0;
  filter: blur(1px);
  transition: all 1.2s;
  overflow: hidden;
}

.my-left {
  transform: translateX(-100px);
}

.my-right {
  transform: translateY(-100px);
}
.my-show {
  filter: blur(0);
  opacity: 1;
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .my-hidden {
    transition: none;
  }
}

.modal-animation {
  animation-name: zoom;
  animation-duration: 0.5s;
}

@keyframes zoom {
  from {
    transform: scale(0.5);
    filter: blur(1px);
  }
  to {
    transform: scale(1);
    filter: blur(0px);
  }
}
